body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;


    background-image: url("../picture/mango.jpg");
    background-size: cover; /* Cubre todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No repetir la imagen */
    height: 100vh; /* Toma el 100% de la altura de la ventana */
    backdrop-filter: blur(5px);
}



.login-container {

    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    position: absolute;
    max-width: 400px;




}



.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.login-form h1 {
    text-align: center;
    margin: 0;
}

.login-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.login-form label {
   font-weight: bold;
}
.form-check label {
    font-weight: bold;
}

.link a{
    text-decoration: none;
    color: #ff8243;
    font-weight: bold;
}
.link a:hover {
    color: #21a769;

}
.login-form button:hover{
    color: #21a769;

}


.avatar {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);


}

.btn-show-pass {
    font-size: 20px;
    color: #000000;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    left: 90%;
    top: 3%;
    right: 0;
    padding-right: 5px;
    cursor: pointer;
}
